################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Neo-Range-Calc/v17/Browse.VC.opendb
